.btn {
  @apply font-thin uppercase rounded py-2 px-4 mb-4 text-sm inline-block leading-none cursor-pointer;
}

.btn-lg {
  @apply py-4 px-10 text-3xl;
}

.btn-blue {
  @apply bg-blue-500 text-white antialiased;

  &:hover {
    @apply bg-blue-400;
  }
}

.btn-alternate {
  @apply border rounded uppercase font-semibold bg-white text-black;

  &.btn-gray {
    @apply border-gray-300 text-black;

    &:hover {
      @apply shadow;
    }
  }
}
