@import 'components/btn';
@import 'components/btn-group';
@import 'components/navmenu';
@import 'components/chevron';
@import 'components/tag-group';
@import 'components/tag';
@import 'components/context-menu';

body {
  @apply font-light bg-gray-100;
}

.mt-14 {
  margin-top: 3.5rem;
}
